<!DOCTYPE html>
<html >
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body ng-app="FireStation" ng-controller="MainController" ng-init="init()">
  <!--<ui-view></ui-view>-->
  <!--<div>application.html.erb</div>-->
     <%= yield %>
  </body>
</html>